/* button search student */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.input-search {
    width: 30%;
}

.breadcrumb-custom {
    background-color: black;
}

#holder img {
    height: auto!important;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

#app {
    position: relative;
}

img.thumb {
    max-width: 80px;
    height: auto;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    height: 90vh;
}

.modal-body {
    overflow-y: auto;
}

.modal-footer {
    justify-content: space-between
}

.modal-dialog {
    max-width: 900px;
}

.select2-selection {
    height: 40px!important;
}

.select2 {
    max-width: 100%;
}

label.error {
    color: red;
    font-size: 15px;
}

.input-group-append {
    cursor: pointer;
}
